{:kotoba.app/id "cloud.itonami.isic-2825", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicbtzxczmuprwszydyqfzqelx5xoc2zety7iyb7ym4augyjqhdjz4", :kotoba.app/embed-url "ipfs://bafkreicbtzxczmuprwszydyqfzqelx5xoc2zety7iyb7ym4augyjqhdjz4", :published {:archive "https://kotobase.net/ipfs/bafkreicbtzxczmuprwszydyqfzqelx5xoc2zety7iyb7ym4augyjqhdjz4", :size 73052, :put-status 201, :get-status 200, :at "2026-08-15T13:58:42.653Z"}}
